@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {*/
/*  font-family: Axiforma;*/
/*  src: url(../public/fonts/axiforma/Axiforma-Regular.ttf);*/
/*  font-weight: 400;*/
/*}*/
/*@font-face {*/
/*  font-family: Axiforma;*/
/*  src: url(../public/fonts/axiforma/Axiforma-Bold.ttf);*/
/*  font-weight: 700;*/
/*}*/
html {
  font-family: 'Axiforma', sans-serif;
  cursor: url("../public/assets/mouseCursor.svg"), auto;
overflow-x: hidden;
}
@media (pointer: fine) {
  body {
    cursor: url("../public/assets/mouseCursor.svg"), auto;


  }
  a:hover, div:hover {
    cursor: url("../public/assets/mouseCursor.svg"), auto;
  }
  .cursor {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
  }

  .vt {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #505050;
  }

  .hl {
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
    background-color: #505050;
  }
  body .backdrop-animation {
    width:100vw;
    height:100vh;
    background-color: #000000;
    position: fixed;
    top:0;
    left:0;
    pointer-events: none;
    opacity:0;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
  }
  body.cursor-pointer .backdrop-animation {
    opacity:0.5;
    transition: opacity 0.5s ease-in-out;
  }
}
@media (pointer: coarse) {
  .cursor {
    display: none;
  }
}



/*.transition-control, .transition-control:hover {*/
/*  transition: 0.5s ease-in-out;*/
/*}*/


.circle-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:-1;
}
.circle-bg img {
  margin:0 auto;

}
ul.blue-marker li:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url('../public/assets/blue-marker.svg');
  background-size: cover;
  background-position: center;
  left: 0;
  top:-5px;


}
ul.blue-marker li {
  /*list-style-image: url("../public/assets/blue-marker.svg");*/
  /*padding-inline-start: 10px;*/
  /*margin-left: 30px;*/
  /*padding-left: 10px;*/
  position: relative;
  padding-left: 35px;


}
