@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {*/
/*  font-family: Axiforma;*/
/*  src: url(../public/fonts/axiforma/Axiforma-Regular.ttf);*/
/*  font-weight: 400;*/
/*}*/
/*@font-face {*/
/*  font-family: Axiforma;*/
/*  src: url(../public/fonts/axiforma/Axiforma-Bold.ttf);*/
/*  font-weight: 700;*/
/*}*/
/*.h-\[100vh\] {*/
/*  height: 100vh;*/
/*  min-height: 100vh;*/
/*  min-height: -webkit-fill-available;*/
/*}*/

img, video {
  mix-blend-mode: screen;

}
.nomix {
  mix-blend-mode: normal;
}
html {
  font-family: 'Axiforma', sans-serif;
  cursor: url("../public/assets/mouseCursor.svg"), auto;
overflow-x: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  /*cursor: url("../public/assets/mouseCursor.svg"), auto;*/
}
@media (pointer: fine) {
  body {
    cursor: url("../public/assets/mouseCursor.svg"), auto;


  }
  a:hover, div:hover, button:hover, img:hover {
    cursor: url("../public/assets/mouseCursor.svg"), auto!important;
  }
  .cursor {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
  }

  .vt {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #505050;
  }

  .hl {
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #505050;
  }
  body .backdrop-animation {
    width:100vw;
    height:100vh;
    background-color: rgb(50, 50, 52);
    position: fixed;
    top:0;
    left:0;
    pointer-events: none;
    opacity:0;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
  }
  body.cursor-pointer .backdrop-animation {
    opacity:0.8;
    transition: opacity 0.5s ease-in-out;
  }
}
@media (pointer: coarse) {
  .h-\[100vh\] {
    height: calc(100vh - 80px )!important;

  }
  div#menu-layout {
    height:100vh!important;
  }
  .cursor {
    display: none;
  }
}

.abc {
  list-style: lower-alpha;
  padding-left: 15px;
}

/*.transition-control, .transition-control:hover {*/
/*  transition: 0.5s ease-in-out;*/
/*}*/


.circle-bg {
  position: absolute;

  /*left: 50%;*/
  /*transform: translateY(-50%);*/
  z-index:-1;
}
.circle-bg img {
  margin:0 auto;

}
ul.blue-marker li:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url('../public/assets/blue-marker.svg');
  background-size: cover;
  background-position: center;
  left: 0;
  top:-5px;


}
ul.blue-marker li {
  /*list-style-image: url("../public/assets/blue-marker.svg");*/
  /*padding-inline-start: 10px;*/
  /*margin-left: 30px;*/
  /*padding-left: 10px;*/
  position: relative;
  padding-left: 35px;


}
#section-1 {
  scroll-margin-top: 100px;
}
.mobile_menu_holder {
  top: 20px;
  position: absolute;
  width: calc(100vw - 40px);
  margin: 0 20px;
}
/*@media screen and (max-width:768px) {*/
/*  .relative {*/
/*    overflow-x: hidden;*/
/*    -ms-overflow-style: none;  !* IE and Edge *!*/
/*    scrollbar-width: none;*/

/*  }*/
/*  .relative::-webkit-scrollbar {*/
/*    display: none;*/
/*  }*/

/*}*/

#menu-layout {   display: flex;
  justify-content: center;
  align-items: center;}
.menu-bg:hover {
  background-color: #505050;
  transition: all 0.5s ease-out;
  /*//background-blend-mode: screen;*/
}
@media only screen and (min-width:1920px) {
  .team_member:last-child {
    margin-right: 180px;
  }
  .team_member:nth-last-child(3) {
    margin-left: 180px;
  }
}
@media only screen and (min-width:768px) {
  .gridItemTech:last-child:nth-child(3n - 2) {
    grid-column-end: 3;
  }
}
button.yarl__button {
  filter: none;
}

input {
  background-color:transparent;
  padding:18px 20px!important;
}
input:focus {
  outline: none;
}
 label, .form_info {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
 color: #9C9C9C
 }
 input[type=radio] {
   accent-color: black;
 }
button.yarl__button {
  padding: 0!important;
}
.yarl__toolbar {
  padding: 0!important;
}
.form_btn {
  padding: 17px 23px;
  width: 97px;
  height: 45px;
  background: #146EBE;
  border-radius: 30px;
  color:#ECECEC;
  font-size: 15px;
  line-height: 1;
  margin-top:50px;
}
.form_separator {
  margin-top: 51px;
}
 @media screen and (max-width: 479px) {
   .yarl__toolbar {
      right:20px!important;
     top:20px!important;
   }
   button.yarl__button.yarl__navigation_next {
     right:20px
   }
   button.yarl__button.yarl__navigation_prev {
     left:20px
   }
 }

@media screen and (min-width: 480px) and (max-width: 1023px) {
  .yarl__toolbar {
    right:30px!important;
    top:30px!important;
  }
  button.yarl__button.yarl__navigation_next {
    right:28px
  }
  button.yarl__button.yarl__navigation_prev {
    left:28px
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .yarl__toolbar {
    right:20px!important;
    top:20px!important;
  }
  button.yarl__button.yarl__navigation_next {
    right:42px
  }
  button.yarl__button.yarl__navigation_prev {
    left:42px
  }
}
@media screen and (min-width: 1366px)  {
.lg_close_icon {
  width:66px;
}
  .yarl__toolbar {
    right:40px!important;
    top:40px!important;
  }
  button.yarl__button.yarl__navigation_next {
    right:71px
  }
  button.yarl__button.yarl__navigation_prev {
    left:71px
  }
}
img.react-photo-album--photo {
  height: 207px!important;
  object-fit: fill;
}
.go_button {
  position: absolute;
  right:0;
  bottom:0;
  opacity:0;
  transition: all 0.5s ease-out;
}
.single_post_item_img {
  position: relative;

}
.single_post_item_img .thumb {
  width:100%;
  height:100%;
  object-fit: fill;
}
.single_post_item:hover .go_button {
  transition: all 0.5s ease-out;
  opacity:1;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
.jakisdiv {
  animation-duration: 100s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.spin {
  transition: transform 1s ease-in-out;
}
.spin:hover {
  transform: rotate(45deg);
}
div#menu-layout {
  height: calc(100vh + 120px);
}
sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}