@tailwind base;
@tailwind components;
@tailwind utilities;

/*@font-face {*/
/*  font-family: Axiforma;*/
/*  src: url(../public/fonts/axiforma/Axiforma-Regular.ttf);*/
/*  font-weight: 400;*/
/*}*/
/*@font-face {*/
/*  font-family: Axiforma;*/
/*  src: url(../public/fonts/axiforma/Axiforma-Bold.ttf);*/
/*  font-weight: 700;*/
/*}*/
/*.h-\[100vh\] {*/
/*  height: 100vh;*/
/*  min-height: 100vh;*/
/*  min-height: -webkit-fill-available;*/
/*}*/

img, video {
  mix-blend-mode: screen;

}
/*div {*/
/*  z-index: 2;*/
/*}*/
.nomix {
  mix-blend-mode: normal;
}
video {
  z-index: 2;

}
.video-wrapper {
  z-index:2;
  mix-blend-mode: screen;

}
html {
  font-family: 'Axiforma', sans-serif;
  cursor: url("../public/assets/mouseCursor.svg"), auto;
overflow-x: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  /*cursor: url("../public/assets/mouseCursor.svg"), auto;*/
}
@media (pointer: fine) {
  body {
    cursor: url("../public/assets/mouseCursor.svg"), auto;


  }
  a:hover, div:hover, button:hover, img:hover {
    cursor: url("../public/assets/mouseCursor.svg"), auto!important;
  }
  .cursor {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
  }

  .vt {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #505050;
  }

  .hl {
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #505050;
  }
  body .backdrop-animation {
    width:100vw;
    height:100vh;
    background-color: rgb(50, 50, 52);
    position: fixed;
    top:0;
    left:0;
    pointer-events: none;
    opacity:0;
    z-index: 10;
    transition: opacity 0.5s ease-in-out;
  }
  body.cursor-pointer .backdrop-animation {
    opacity:0.8;
    transition: opacity 0.5s ease-in-out;
  }
}
@media (pointer: coarse) {
  .h-\[100vh\] {
    height: calc(100vh - 80px )!important;

  }
  div#menu-layout {
    height:100vh!important;
  }
  .cursor {
    display: none;
  }
}

.abc {
  list-style: lower-alpha;
  padding-left: 15px;
}

/*.transition-control, .transition-control:hover {*/
/*  transition: 0.5s ease-in-out;*/
/*}*/


.circle-bg {
  position: absolute;

  top: 0;
  width: 100vw;

  /*left: 50%;*/
  /*transform: translateY(-50%);*/
  z-index:-1;
}
.circle-bg img {
  margin:0 auto;
  z-index: -1;
  position: relative;


}
/*.circle-bg img:before {*/
/*  content: '';*/
/*  position: absolute;*/
/*  top: 0;*/
/*  background: linear-gradient(0deg, #323234 0%, rgba(50, 50, 52, 0.00) 100%);*/
/*}*/
.circle-bg__inner {

  background: linear-gradient(0deg, #323234 50%, rgba(50, 50, 52, 0.00) 85%);

}
@media screen and (max-width: 389px) {
  .circle-bg__inner {
    padding-top: 213px;
    background: linear-gradient(358deg, #323234 30%, rgba(50, 50, 52, 0.00) 60%);

  }

}
@media screen and (min-width: 390px) and (max-width: 479px) {
  .circle-bg__inner {
    padding-top: 328px;
    background: linear-gradient(358deg, #323234 30%, rgba(50, 50, 52, 0.00) 60%);

  }
}
@media screen and (min-width: 480px) and (max-width: 785px) {
  .circle-bg__inner {
    padding-top: 326px;
    background: linear-gradient(358deg, #323234 30%, rgba(50, 50, 52, 0.00) 60%);

  }
}
@media screen and (min-width: 786px) and (max-width: 1023px) {
  .circle-bg__inner {
    padding-top: 361px;

  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .circle-bg__inner {
    padding-top: 157px;

  }
}
@media screen and (min-width: 1366px) and (max-width: 1535px) {
  .circle-bg__inner {
    padding-top: 169px;

  }
}
@media screen and (min-width: 1536px) and (max-width: 1919px) {
  .circle-bg__inner {
    padding-top: 221px;

  }
}
@media screen and (min-width: 1920px)  {
  .circle-bg__inner {
    padding-top: 272px;

  }
}
.circle-bg__inner__background {
  position: absolute;
  height: 50%;
  background-color: #323234;
  z-index: 1;
  bottom: 0;
  /* border: 1px solid white; */
  width: 100vw;
}
ul.blue-marker li:before {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  background-image: url('../public/assets/blue-marker.svg');
  background-size: cover;
  background-position: center;
  left: 0;
  top:-5px;


}
ul.blue-marker li {
  /*list-style-image: url("../public/assets/blue-marker.svg");*/
  /*padding-inline-start: 10px;*/
  /*margin-left: 30px;*/
  /*padding-left: 10px;*/
  position: relative;
  padding-left: 35px;


}
#section-1 {
  scroll-margin-top: 100px;
}
.mobile_menu_holder {
  top: 20px;
  position: absolute;
  width: calc(100vw - 40px);
  margin: 0 20px;
}
/*@media screen and (max-width:768px) {*/
/*  .relative {*/
/*    overflow-x: hidden;*/
/*    -ms-overflow-style: none;  !* IE and Edge *!*/
/*    scrollbar-width: none;*/

/*  }*/
/*  .relative::-webkit-scrollbar {*/
/*    display: none;*/
/*  }*/

/*}*/

#menu-layout {   display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width:1920px) {
  .team_member:last-child {
    margin-right: 180px;
  }
  .team_member:nth-last-child(3) {
    margin-left: 180px;
  }
}
@media only screen and (min-width:768px) {
  .gridItemTech:last-child:nth-child(3n - 2) {
    grid-column-end: 3;
  }
}
button.yarl__button {
  filter: none;
}

input {
  background-color:transparent;
  padding:18px 20px!important;
}
input:focus {
  outline: none;
}
 label, .form_info {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
 color: #9C9C9C
 }
 input[type=radio] {
   accent-color: black;
 }
button.yarl__button {
  padding: 0!important;
}
.yarl__toolbar {
  padding: 0!important;
}
.form_btn {
  padding: 17px 23px;
  width: 97px;
  height: 45px;
  background: #146EBE;
  border-radius: 30px;
  color:#ECECEC;
  font-size: 15px;
  line-height: 1;
  margin-top:50px;
}
.form_separator {
  margin-top: 51px;
}
 @media screen and (max-width: 479px) {
   .yarl__toolbar {
      right:20px!important;
     top:20px!important;
   }
   button.yarl__button.yarl__navigation_next {
     right:20px
   }
   button.yarl__button.yarl__navigation_prev {
     left:20px
   }
 }

@media screen and (min-width: 480px) and (max-width: 1023px) {
  .yarl__toolbar {
    right:30px!important;
    top:30px!important;
  }
  button.yarl__button.yarl__navigation_next {
    right:28px
  }
  button.yarl__button.yarl__navigation_prev {
    left:28px
  }
}
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .yarl__toolbar {
    right:20px!important;
    top:20px!important;
  }
  button.yarl__button.yarl__navigation_next {
    right:42px
  }
  button.yarl__button.yarl__navigation_prev {
    left:42px
  }
}
@media screen and (min-width: 1366px)  {
.lg_close_icon {
  width:66px;
}
  .yarl__toolbar {
    right:40px!important;
    top:40px!important;
  }
  button.yarl__button.yarl__navigation_next {
    right:71px
  }
  button.yarl__button.yarl__navigation_prev {
    left:71px
  }
}
img.react-photo-album--photo {
  height: 281px!important;
  object-fit: cover;
}
@media only screen and (max-width:1535px){
  img.react-photo-album--photo {
    height: 200px!important;
    object-fit: cover;
  }
}
@media only screen and (max-width:1365px){
  img.react-photo-album--photo {
    height: 225px!important;
    object-fit: cover;
  }
}
@media only screen and (max-width:1023px){
  img.react-photo-album--photo {
    height: 163px!important;
    object-fit: cover;
  }
}
@media only screen and (max-width:785px){
  img.react-photo-album--photo {
    height: 125px!important;
    object-fit: cover;
  }
}
@media only screen and (max-width:479px){
  img.react-photo-album--photo {
    height: 200px!important;
    object-fit: cover;
  }
}
@media only screen and (max-width:389px){
  img.react-photo-album--photo {
    height: 161px!important;
    object-fit: cover;
  }
}
.go_button {
  position: absolute;
  right:0;
  bottom:0;
  opacity:0;
  transition: all 0.5s ease-out;
}
.single_post_item_img {
  position: relative;

}
.single_post_item_img .thumb {
  width:100%;
  height:100%;
  object-fit: fill;
}
.single_post_item:hover .go_button {
  transition: all 0.5s ease-out;
  opacity:1;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}
.rotate {
  animation-duration: 70s;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.spin {
  transition: transform 0.3s ease-in-out;
}
.spin:hover {
  transform: rotate(90deg);
}
div#menu-layout {
  height: calc(100vh + 120px);
}
sub, sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
@keyframes slideDown {
  0% { transform: translateY(-10px); opacity: 1; }
  80% { transform: translateY(10px); opacity: 0; }
  81% { opacity: 0; }
  82% { transform: translateY(11px); opacity: 0; }
  100% { opacity: 0; }
}

#arrow {
  animation: slideDown 2s infinite;
}
@media screen and (min-width: 1366px) {
  #svg {
    width:60px;
    height:60px;
  }
}


.long-line, .short-line {
  transition: all 0.5s ease;
}

#svg:hover .long-line {
  d: path("M17.5 28.5H32.5");
}

#svg:hover .short-line {
  d: path("M27.5 21.5H32.5");


}
.z-max {
  z-index: 99;
}
/*.active {*/
/*  background: url("../public/images/img_test.png");*/
/*  background-blend-mode: SCREEN;*/
/*  background-size: cover;*/
/*}*/

.homepage:hover, .active.homepage {
  opacity:0.15;
  background: url("../public/images/menu/menu_0008_home.jpg"), rgb(0 0 0 / 50%);
  background-blend-mode: SCREEN;
  background-size: cover;

  position: relative;

}

.projektowanie:hover, .active.projektowanie {
  opacity:0.15;
  background: url("../public/images/menu/menu_0007_projektowanie.jpg"), rgb(0 0 0 / 50%);
  background-blend-mode: SCREEN;
  background-size: cover;

  position: relative;

}
.wykonawstwo:hover, .active.wykonawstwo {
  opacity:0.15;
  background: url("../public/images/menu/menu_0005_wykonawstwo.jpg"), rgb(0 0 0 / 50%);
  background-blend-mode: SCREEN;
  background-size: cover;

  position: relative;

}
.generalny:hover, .active.generalny {
  opacity:0.15;
  background: url("../public/images/menu/menu_0006_generalny.jpg"), rgb(0 0 0 / 50%);
  background-blend-mode: SCREEN;
  background-size: cover;

  position: relative;

}
.obiekty:hover, .active.obiekty {
  opacity:0.15;
  background: url("../public/images/menu/menu_0004_obiekty.jpg"), rgb(0 0 0 / 50%);
  background-blend-mode: SCREEN;
  background-size: cover;

  position: relative;

}
.konfigurator:hover, .active.konfigurator {
  opacity:0.15;
  background: url("../public/images/menu/menu_0003_konfigurator.jpg"), rgb(0 0 0 / 50%);
  background-blend-mode: SCREEN;
  background-size: cover;

  position: relative;

}
.aktualnosci:hover, .active.aktualnosci {
  opacity:0.15;
  background: url("../public/images/menu/menu_0002_aktualnosci.jpg"), rgb(0 0 0 / 50%);
  background-blend-mode: SCREEN;
  background-size: cover;

  position: relative;

}
.zespol:hover, .active.zespol {
  opacity:0.15;
  background: url("../public/images/menu/menu_0001_zespol.jpg"), rgb(0 0 0 / 50%);
  background-blend-mode: SCREEN;
  background-size: cover;

  position: relative;

}
.kontakt:hover, .active.kontakt {
  opacity:0.15;
  background: url("../public/images/menu/menu_0000_kontakt.jpg"), rgb(0 0 0 / 50%);
  background-blend-mode: SCREEN;
  background-size: cover;

  position: relative;

}



/*.active::before{*/
/*  background-color: rgba(50, 50, 52, 0.5);*/
/*  content: '';*/
/*  display: block;*/
/*  height: 100%;*/
/*  position: absolute;*/
/*  width: 100%;*/
/*}*/


.mr-2 {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  min-width: 18px;
  border-radius: 50%;
  background-color:transparent; /* Zmień na wybrany kolor lub obrazek tła */
  border: none;
  outline: 1px solid gray; /* Dodaj szary kontur */
  cursor: pointer;
  padding: 3px!important;
}
.mr-2:checked {
  content: url("../public/assets/icon_accept@3x.svg");
  font-size: 12px; 
  color: gray; 
  outline: 1px solid gray;
  border-radius: 50%;
  
}


.carousel .swiper-slide {
  padding:0px 20%;
}

.carousel .swiper-button-next:after,
.carousel-1 .swiper-button-next:after {
content: url("../public/assets/arrow_right.svg");

}
.carousel .swiper-button-prev:after,
.carousel-1 .swiper-button-prev:after {
  content: url("../public/assets/arrow_left.svg");
  
  }
  .carousel .swiper-button-prev,
  .carousel-1 .swiper-button-prev{
    left:7%;
    width: 30px;
height: 50px;
  }
 

  .carousel .swiper-button-next,
  .carousel-1 .swiper-button-next {
    right: 7%;
    width: 30px;
height: 50px;
  }


  .swiper-button-disabled {
    opacity: 0!important;
  }
  .error-msg {
    color: #DF4C4C;
    padding:0;
    position: relative;
  }
  .input_error::after {
    content: "";
   width: 20px;
   height:20px;
   position: relative;
   top: -4px;
   left: -4px;
   display: block;
   border: 1px solid red;
  }
  .mr-2:focus{
    outline: 1px solid gray;
  }

  .modal_opened {
    z-index:99;
  }
.lg_close_icon {
  mix-blend-mode: unset;
}
.lg_close_icon {
  transition: transform 0.3s ease-in-out;
}
.lg_close_icon:hover {
  transform: rotate(45deg);
}
body .overlay {
  width:100vw;
  height:100vh;
  background-color: rgb(50, 50, 52);
  position: fixed;
  top:0;
  left:0;
  pointer-events: none;
  opacity:0;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}
.cursor-pointer_post .overlay {
 
    opacity:0.8;
    transition: opacity 0.5s ease-in-out;
  
}
body .overlay_2 {
  width:100vw;
  height:100vh;
  background-color: rgb(50, 50, 52);
  position: fixed;
  top:0;
  left:0;
  pointer-events: none;
  opacity:0;
  z-index: 10;
  transition: opacity 0.5s ease-in-out;
}
.cursor-pointer_post_2 .overlay_2 {
 
    opacity:0.8;
    transition: opacity 0.5s ease-in-out;
  
}
/* Dla małych ekranów */
@media (max-width: 639px) {
  .yarl__toolbar {
    top: 20px !important;
    right: 35px !important;
  }
}

/* Dla średnich ekranów */
@media (min-width: 640px) and (max-width: 767px) {
  .yarl__toolbar {
    top: 20px !important;
    right: 30px !important;
  }
}

/* Dla dużych ekranów */
@media (min-width: 768px) and (max-width: 1023px) {
  .yarl__toolbar {
    top: 30px !important;
    right: 45px !important;
  }
}

/* Dla ekstra dużych ekranów */
@media (min-width: 1024px) and (max-width: 1279px) {
  .yarl__toolbar {
    top: 30px !important;
    right: 45px !important;
  }
}

/* Dla 2xl ekranów */
@media (min-width: 1280px) and (max-width: 1365px) {
  .yarl__toolbar {
    top: 30px !important;
    right: 45px !important;
  }
}

/* Dla 3xl ekranów */
@media (min-width: 1366px) and (max-width: 1919px) {
  .yarl__toolbar {
    top: 20px !important;
    right: 40px !important;
  }
}

/* Dla 4xl ekranów */
@media (min-width: 1920px) {
  .yarl__toolbar {
    top: 45px !important;
    right: 50px !important;
  }
}

/* Dla 5xl ekranów */
@media (min-width: 2560px) {
  .yarl__toolbar {
    top: 45px !important;
    right: 50px !important;
  }
}